/* css styles */

.red-text {
    color: red;
}

.table-fit {
  display: flex;
  justify-content: center;
  text-align: center;
}

.table-fit table {
    display: inline-table;
    width: auto;
}

.table-fit table th,
.table-fit table td {
  white-space: nowrap;
}

.vspace-xsmall { display: block; margin-top: 0.125rem; }
.vspace-small { display: block; margin-top: 0.25rem; }
.vspace-medium { display: block; margin-top: 0.5rem; }
